__pycache__/
db.sqlite3
.DS_Store

# Environments
.env
.env.dev
dev.env
.env.staging
.env.staging.db
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
local_settings.py
db.sqlite3-journal

#models
Dockerfile
fly.toml