asgiref==3.7.2
certifi==2023.5.7
charset-normalizer==3.2.0
dj-database-url==2.0.0
dj-email-url==1.0.6
Django==4.2.3
django-cache-url==3.4.4
django-cors-headers==4.2.0
django-environ==0.9.0
environs==9.5.0
gunicorn==20.1.0
idna==3.4
marshmallow==3.19.0
packaging==23.1
python-dotenv==1.0.0
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.3
whitenoise==6.2.0
